.form__container {
    position: relative;
    height: 100%;
}
.form {
    display: flex;
    position: relative;
    flex-direction: column;
    outline: 1px solid black;
    width: 480px;
    height: 800px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
}
.form__input_field {
    border: 1px solid black;
}

.submit_signin {
    background-color: black;
    color: white;
    padding: 1rem;
    cursor: pointer;
}