<!DOCTYPE html>
<html>
    <head>
        <title>Itemiz App</title>

        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            .item {
                display: flex;
                align-items: center;
                gap: 1em;
                margin-bottom: 1em;
            }
            .item__img {
                width: 300px;
                height: 300px;
            }
        </style>

    </head>

    <body>
        <h1>Itemiz</h1>
        {% for item in items %}
            <div class="item">
                <img class="item__img" src="{{item.image_url[0].image_url}}" alt="Ebay item image">

                <div class="item__desc">
                    <h2><a href="/item/{{item.id}}" target="_blank">{{ item.title }}</a></h2>
                    <h3>Status: {{ item.status }}</h3>
                    <h3>${{ item.price }}</h3>
                    <h3>Listed: {{ item.listed_date}}</h3>
                    <h3>Location: {{ item.location }}</h3>
                    <h3>SKU: {{item.sku}}</h3>
                    <h3>Ebay ID: {{ item.id }}</h3>
                    <a href="{{ item.ebay_url }}" target="_blank">Ebay link</a>
                </div>
                
                <br><br>
            </div>
        {% endfor %}
    </body>

</html>