.item {
    display: flex;
    position: relative;
    justify-content: space-between;
    line-height: 100%;
    margin: 0.25rem 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* .item:hover {
    background-color: grey;
} */

.item__sub_container {
    display: flex;
    flex-direction: row;
}
.items__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    width: 200px;
    overflow: hidden;
    outline: 1px solid red;
}
.item__title {
    font-size: var(--size-md);
    font-weight: 600;
}
.item__img {
    width: 200px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid rgba(0,0,0,0.1);
}
.item__price {
    display: none;
}
.item__location_container {
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #828ce5;
    border: 1px solid black;
    width: 64px;
    height: 64px;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* xs */
@media (min-width: 475px) {
    .item {
        line-height: normal;
    }
    .items__text {
        width: auto;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .item {
        padding: 0.50rem;
    }
    .item__img {
        width: 200px;
        height: 200px;
    }
    .item__price {
        display: inline-block;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {}  */