.detailed_items {
    display: flex;
    flex-direction: column;
}

.detailed_items__img {
    width: 100%;
}

.detailed_items__text_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* width: 100%; */
    margin: 1rem;
    /* margin-top: 1rem; */
}
.item_status_buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.detailed_items__ebay_url {
    text-decoration: underline;
    color: blue
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .detailed_items__img {
        width: 50%;
    }
    .detailed_items {
        display: flex;
        flex-direction: row;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {}  */