.filter_container {
    width: 17%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 3rem;
    background-color: white;
    gap: 1rem;
}
.mobile_filter_container {
    display: flex;
    position: fixed;
    z-index: 998;
    width: 50%;
    height: 100%;
}
.close_button_svg {
    width: 24px;
    height: 24px;
    position: fixed;
    right: 50%;
    margin: 0.5rem;
}
.filter__input_container input {
    width: 100%;
}
.filter__title {
    font-size: var(--size-xl);
    border-bottom: 1px solid black;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .filter_container {
        display: flex;
    }
    .mobile_filter_container {
        position: fixed;
        width: 17%;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {}  */