.filter_container {
    width: 17%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 3rem;
    background-color: white;
    gap: 1rem;
    padding: 1rem 0.25rem;
    /* margin-top: 1rem; */
    /* border: 1px solid black; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mobile_filter_container {
    display: flex;
    position: fixed;
    z-index: 998;
    width: 75%;
    height: 100%;
}
.close_button_svg {
    width: 24px;
    height: 24px;
    position: fixed;
    right: 25%;
    margin: 0.5rem;
}
.filter__title {
    font-size: var(--size-xl);
    border-bottom: 1px solid black;
    margin-top: 1.25rem;
}
.filter__input_container input {
    width: 100%;
}
.filter__location_checkbox {
    display: flex;
    flex-direction: row;
    user-select: none;
    margin: 0.25rem 0;
}
.filter__location_checkbox input {
    width: 24px;
    height: 24px;
}
.filter__location_checkbox label {
    width: 80%;
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .filter_container {
        display: flex;
        padding: 0 0.5rem;
        padding-bottom: 2rem;
        margin-top: 1rem;
    }
    .mobile_filter_container {
        position: fixed;
        width: 17%;
    }
    .close_button_svg {
        display: none;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {}  */